.alert {
  color: white;
}

/* Error */
.alert__red { 
  background-color: red;
}

/* Warning */
.alert__yellow {
  background-color: yellow;
}

/* Normal */
.alert__green {
  background-color: green;
}


.addSpace {
  margin-right: 5px;
}

 
.react-datepicker-wrapper {
  margin: 12px 0;
  width: 90px;
}
